html {
  background-color: #334756;
}

body {
  scroll-behavior: smooth;
}

#error {
  font-family: Epilogue;
}

#navbar {
  background-color: #082032;
  /* background-color: #000; */
}

#navLink {
  font-family: Epilogue;
  width: max-content;
  font-size: 12pt;
  color: #f0a500;
}

#navLink:hover {
  color: #334756;
}

#navToggleButton {
  transition: 0.3s;
  background-color: #f0a500;
  margin-right: 20px;
  border-radius: 5px;
}

#navToggleButton:focus {
  box-shadow: none;
}

#navToggleButton:hover {
  background-color: #7691a1;
}

.navbar-toggler-icon {
  font-size: x-large;
}

#searchBarSpace {
  width: 50%;
}

.wallet,
.profileButton,
.logOutButton,
.profileButton2,
.logOutButton2 {
  font-family: Epilogue;
  cursor: pointer;
  color: #f0a500;
  font-size: 12pt;
  text-align: center;
  border: orange thin solid;
  border-radius: 15px;
  padding: 10px;
  transition: 0.3s;
}

#profileButton,
#logOutButton,
#profileButton2,
#logOutButton2 {
  padding: 10px;
  color: #f0a500;
}

.wallet:hover,
#profileButton:hover,
#logOutButton:hover,
#profileButton2:hover,
#logOutButton2:hover {
  color: #334756;
  border: #334756 thin solid;
}

.jumptToTopArrow {
  width: 80px;
  height: 80px;
  color: #f0a500;
  cursor: pointer;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
  transition: 0.3s;
}

.jumptToTopArrow:hover {
  color: #fff;
}

.wallet:hover {
  /* transition: 0.3s; */
  border: #334756 thin solid;
}

.mainPic {
  width: 100%;
}

#sellers {
  font-family: Epilogue;
  color: #f0a500;
}

.viewAll {
  font-size: 11pt;
  font-family: Epilogue;
  text-align: center;
  border: #334756 thin solid;
  border-radius: 20px;
  margin-right: 10px;
  padding: 6px 20px 6px 20px;
  color: #334756;
  color: #f0a500;
  background-color: #334756;
  transition: 0.3s;
}

.viewAll:hover {
  color: #f0a500;
  color: #334756;
  background-color: #334756;
  background-color: #f0a500;
}

#dropdownToggleCSS {
  width: min-content;
  text-align: left;
  font-family: Epilogue;
  color: #f0a500;
  background-color: #334756;
  border: #334756 thin solid;
  box-shadow: none;
}

#dropdownToggleCSS:hover {
  color: #334756;
  background-color: #f0a500;
}

#dropdownMenuCSS {
  font-family: Epilogue;
  color: #334756;
  transition: 0.3s;
}

#dropdownMenuCSS:active {
  color: #334756;
  background-color: #f0a500;
}

#dropdownMenuCSS:hover {
  color: #334756;
  background-color: #f0a500;
}

.popCSS {
  transition: 0.3s;
  min-height: 76.38px;
  color: #fff;
  background-color: #334756;
  border: #334756 thin solid;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
}

.popCSS h6 {
  font-family: Epilogue;
  width: max-content;
  margin-bottom: 0;
}

.popCSS:hover {
  background-color: #334756;
  border: #f0a500 thin solid;
  color: #f0a500;
  padding-inline-end: 15px;
}

.popImg {
  filter: grayscale(45%);
  float: left;
  height: 80px;
  width: 80px;
}

.popCSS:hover > .popImg {
  filter: grayscale(0%);
}

#explore {
  font-family: Epilogue;
  color: #fff;
}

#expdropdownToggleCSS {
  width: 118px;
  text-align: left;
  color: #fff;
  background-color: #334756;
  border: #f0a500 thin solid;
  box-shadow: none;
  font-family: Epilogue;
  transition: 0.3s;
}

#expdropdownToggleCSS:hover {
  color: #f0a500;
  border: #334756 thin solid;
  background-color: #082032;
}

.expCSS {
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  background-color: #082032;
  padding: 10px;
  border: #334756 thin solid;
  border-radius: 3px;
  position: relative;
}
.expInfo {
  padding-bottom: 10px;
}
.expInfo h6 {
  transition: 0.3s;
  color: #fff;
  font-family: Epilogue;
  margin-bottom: 0px;
}

.expImg {
  border-radius: 3px;
  /* padding-bottom: 20px; */
  position: relative;
  top: 0;
  left: 0;
  width: 415px;
  height: auto;
}

.expCSS:hover {
  transform: scale(1.05);
  background-color: #f0a500;
  border: #334756 thin solid;
}

.expCSS:hover h6 {
  color: #082032;
  font-family: Epilogue;
  margin-bottom: 0px;
}

.thumbnail {
  position: relative;
}

.playerButton,
.pauseButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  width: 120px;
  height: 120px;
  color: #fff;
  cursor: pointer;
}

.pauseButton {
  color: #f0a500;
  background: rgb(8, 32, 50, 0.7);
  border-radius: 50%;
}

.playerButton:hover {
  color: #f0a500;
  background: rgb(8, 32, 50, 0.7);
  border-radius: 50%;
  z-index: 9999;
}

.playerButton2,
.pauseButton2 {
  position: relative;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  width: 120px;
  height: 120px;
  color: #fff;
  cursor: pointer;
}

.pauseButton2 {
  color: #f0a500;
  background: rgb(8, 32, 50, 0.7);
  border-radius: 50%;
}

.playerButton2:hover {
  color: #f0a500;
  background: rgb(8, 32, 50, 0.7);
  border-radius: 50%;
  z-index: 9999;
}

/*.bottomPlayer {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  height: 120px;
  width: 120px;
  z-index: 999999;
}

 .expCSS:hover .playerButton {
  color: #f0a500;
  background: #334756 0.3;
  z-index: 9999;
} */

.seeMore {
  font-size: 11pt;
  font-family: Epilogue;
  text-align: center;
  border: #f0a500 thin solid;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
  transition: 0.3s;
}

.seeMore:hover {
  color: #f0a500;
  background-color: #082032;
  border: #082032 thin solid;
}

.itemDiscoverImg {
  border-radius: 3px;
  padding-bottom: 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px !important;
}

.itemDescSectionInModal {
  color: black;
  align-items: center;
}

.itemModalBody {
  padding: 30px !important;
}

.itemPriceBox {
  position: absolute;
  z-index: 1;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: -15px;
  margin-left: -15px;
}

.itemDescSection {
  color: #fff;
}

.itemImg {
  border-radius: 3px;
  position: relative;
  top: 0;
  left: 0;
}

.expInfo {
  width: 100%;
  padding-left: 10px;
  padding-top: 20px;
}

.itemsModal {
  max-width: 90% !important;
}

#footLink {
  font-family: Epilogue;
  font-size: 12pt;
  max-width: max-content;
  color: #f0a500;
}

#footLink:hover {
  color: #082032;
}

.nameEmailCol {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: Epilogue;
}

#nameEntryArea,
#emailEntryArea,
#searchBar {
  font-family: Epilogue;
  /* border: #f0a500 transparent; */
  box-shadow: none;
}
#nameEntryArea,
#emailEntryArea {
  width: 300px;
}

#nameEntryArea:focus,
#emailEntryArea:focus,
#searchBar:focus {
  border-style: solid;
  border-width: 1px 1px;
  border-color: #f0a500;
}

#saveInfoButton {
  font-family: Epilogue;
  color: #082032;
  background-color: #f0a500;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
  box-shadow: none;
}

#saveInfoButton:hover {
  background-color: #f0a400af;
  color: white;
}

#saveInfoButton:active {
  background-color: #f0a4004b;
  color: #f0a500;
}

#profPic {
  float: right;
  width: 105px;
  height: 105px;
}

.userInfoCol {
  color: white;
  align-self: center;
}
.userInfoCol > p {
  margin-bottom: 0;
}

.personalProfPicCol {
  display: grid;
  justify-content: end;
}

.personalProfPic {
  width: 150px;
  height: 150px;
}

#uploadPicture {
  font-family: Epilogue;
  box-shadow: none;
  border-style: solid;
  border-width: 1px 1px;
  border-color: #334756;
  border-radius: 5px;
}

#uploadPicture:focus {
  border-style: solid;
  border-width: 1px 1px;
  border-color: #f0a500;
}

#uploadButton {
  font-family: Epilogue;
  transition: 0.3s;
  margin-left: 10px;
  background-color: #334756;
  border: none;
  box-shadow: none;
}

#uploadButton:hover {
  color: #082032;
  background-color: #7691a1;
}

#uploadButton:active {
  background-color: #334756;
  color: #7691a1;
}

/* .nameEmailCol {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: Epilogue;
} */

.createItemCol {
  font-family: Epilogue;
}

#createItemName,
#createItemPrice,
#createItemThumb,
#createItemAudio,
#createItemDesc,
#createItemStatus {
  transition: 0.3s;
  box-shadow: none;
}

#createItemName:focus,
#createItemPrice:focus,
#createItemThumb:focus,
#createItemAudio:focus,
#createItemDesc:focus,
#createItemStatus:focus {
  border-color: #f0a500;
}

#createItemButton {
  transition: 0.3s;
  border: none;
  color: #082032;
  background-color: #7691a1;
  box-shadow: none;
}

#createItemButton:hover {
  color: #334756;
  background-color: #f0a500;
}

#createItemButton:active {
  color: white;
}

.navButtonSet1 {
  display: flex;
}

.navButtonSet2 {
  display: none;
  visibility: hidden;
}

@media (max-width: 411px) {
  .viewAll {
    width: max-content;
  }
}

@media (max-width: 414px) {
  .popImg {
    height: 40px;
  }
}

@media (max-width: 490px) {
  .viewAll {
    width: max-content;
  }
}

@media (max-width: 575px) {
  .expImg {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .nameEmailCol {
    align-items: center;
  }

  .personalProfPicCol,
  .profPicCol,
  .userInfoCol {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .personalProfPic {
    width: 130px;
    height: 130px;
  }
}

@media (max-width: 990px) {
  .expviewAll {
    width: max-content;
  }
}

@media (max-width: 991px) {
  .wallet {
    margin-top: 13px;
    width: fit-content;
    margin-left: 12px;
  }

  .profileButton,
  .logOutButton {
    display: none;
    visibility: hidden;
    position: absolute;
  }

  .navButtonSet2 {
    display: flex;
    visibility: visible;
    margin-left: 12px;
    margin-top: 13px;
    margin-bottom: 13px;
    width: fit-content;
  }

  .profileButton2 {
    margin-right: 18px;
  }

  #searchBarSpace {
    margin: 0 auto;
    width: 97%;
  }
}

@media (max-width: 992px) {
  .popImg {
    clear: right;
  }
  .popInfo {
    clear: left;
  }
}

@media (min-width: 1200px) {
  .popImg {
    /* height: 50px; */
  }
}
