html {
  background-color: #334756;
}

body {
  scroll-behavior: smooth;
}

#error {
  font-family: Epilogue;
}

#navbar {
  /* background-color: #334756; */
  background-color: #082032;
  /* background-color: #000; */
}

#navLink {
  font-family: Epilogue;
  width: max-content;
  font-size: 12pt;
  color: #f0a500;
}

#navLink:hover {
  color: #334756;
}

.wallet {
  font-size: 11pt;
  text-align: center;
  border: orange thin solid;
  border-radius: 15px;
  padding: 10px;
  transition: 0.3s;
}

.jumptToTopArrow {
  width: 80px;
  height: 80px;
  color: #f0a500;
  cursor: pointer;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
  transition: 0.3s;
}

.jumptToTopArrow:hover {
  color: #fff;
}

.wallet:hover {
  /* transition: 0.3s; */
  border: #334756 thin solid;
}

.mainPic {
  width: 100%;
}

#sellers {
  font-family: Epilogue;
  color: #f0a500;
}

.viewAll {
  font-size: 11pt;
  font-family: Epilogue;
  text-align: center;
  border: #334756 thin solid;
  border-radius: 20px;
  margin-right: 10px;
  padding: 6px 20px 6px 20px;
  color: #334756;
  color: #f0a500;
  background-color: #334756;
  transition: 0.3s;
}

.viewAll:hover {
  color: #f0a500;
  color: #334756;
  background-color: #334756;
  background-color: #f0a500;
}

#dropdownToggleCSS {
  width: 130px;
  text-align: left;
  font-family: Epilogue;
  color: #f0a500;
  background-color: #334756;
  border: #334756 thin solid;
  box-shadow: none;
}

#dropdownToggleCSS:hover {
  color: #334756;
  background-color: #f0a500;
}

#dropdownMenuCSS {
  font-family: Epilogue;
  color: #334756;
  transition: 0.3s;
}

#dropdownMenuCSS:active {
  color: #334756;
  background-color: #f0a500;
}

#dropdownMenuCSS:hover {
  color: #334756;
  background-color: #f0a500;
}

.popCSS {
  transition: 0.3s;
  color: #fff;
  background-color: #334756;
  border: #334756 thin solid;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
}

.popCSS h6 {
  font-family: Epilogue;
  width: max-content;
}

.popCSS:hover {
  background-color: #334756;
  border: #f0a500 thin solid;
  color: #f0a500;
  padding-inline-end: 15px;
  /* box-shadow: 6px 6px 0px 0px #f0a500; */
}

.popImg {
  float: left;
  height: 80px;
}

#explore {
  font-family: Epilogue;
  color: #fff;
}

#expdropdownToggleCSS {
  width: 118px;
  text-align: left;
  color: #fff;
  background-color: #334756;
  border: #f0a500 thin solid;
  box-shadow: none;
  font-family: Epilogue;
  transition: 0.3s;
}

#expdropdownToggleCSS:hover {
  color: #f0a500;
  border: #334756 thin solid;
  background-color: #082032;
}

.expCSS {
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  background-color: #082032;
  padding: 10px;
  border: #334756 thin solid;
  border-radius: 3px;
  position: relative;
}

.expInfo {
  margin-top: -20px;
}

.expInfo h6 {
  transition: 0.3s;
  color: #fff;
  font-family: Epilogue;
  margin-bottom: 0px;
}

.expImg {
  border-radius: 3px;
  padding-bottom: 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 415px;
  height: 415px;
}

.expCSS:hover {
  transform: scale(1.05);
  background-color: #f0a500;
  border: #334756 thin solid;
}

.expCSS:hover h6 {
  color: #082032;
  font-family: Epilogue;
  margin-bottom: 0px;
}

.playerButton,
.pauseButton {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  width: 120px;
  height: 120px;
  color: #fff;
  cursor: pointer;
}

.pauseButton {
  color: #f0a500;
  background: rgb(8, 32, 50, 0.7);
  border-radius: 50%;
}

.bottomPlayer {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  height: 120px;
  width: 120px;
  z-index: 999999;
}

/* .expCSS:hover .playerButton {
  color: #f0a500;
  background: #334756 0.3;
  z-index: 9999;
} */

.playerButton:hover {
  color: #f0a500;
  background: rgb(8, 32, 50, 0.7);
  border-radius: 50%;
  z-index: 9999;
}

.seeMore {
  font-size: 11pt;
  font-family: Epilogue;
  text-align: center;
  border: #f0a500 thin solid;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
  transition: 0.3s;
}

.seeMore:hover {
  color: #f0a500;
  background-color: #082032;
  border: #082032 thin solid;
}

.itemDiscoverImg {
  border-radius: 3px;
  padding-bottom: 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px !important;
}

.itemDescSectionInModal {
  color: black;
  align-items: center;
}

.itemModalBody {
  padding: 30px !important;
}

.itemPriceBox {
  position: absolute;
  z-index: 1;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: -15px;
  margin-left: -15px;
}

.itemDescSection {
  color: #fff;
}

.itemImg {
  border-radius: 3px;
  position: relative;
  top: 0;
  left: 0;
}

.expInfo {
  width: 100%;
  padding-left: 10px;
  padding-top: 20px;
}

.itemsModal {
  max-width: 90% !important;
}

#footLink {
  font-family: Epilogue;
  font-size: 12pt;
  max-width: max-content;
  color: #f0a500;
}

#footLink:hover {
  color: #082032;
}

#profPic {
  float: right;
  width: 105px;
  height: 105px;
}

@media (max-width: 411px) {
  .viewAll {
    width: max-content;
  }
}

@media (max-width: 414px) {
  .popImg {
    height: 40px;
  }
}

@media (max-width: 490px) {
  .viewAll {
    width: max-content;
  }
}

@media (max-width: 575px) {
  .expImg {
    width: 300px;
  }
}

@media (max-width: 990px) {
  .expviewAll {
    width: max-content;
  }
}

@media (max-width: 992px) {
  .popImg {
    clear: right;
  }
  .popInfo {
    clear: left;
  }
}

@media (max-width: 1011px) {
  .wallet {
    width: max-content;
  }
}

@media (min-width: 1200px) {
  .popImg {
    height: 50px;
  }
}
