body {
  background: url("./bg.png");
  background-size: 350px;
  background-repeat: repeat-x repeat-y;
  background-attachment: fixed;
  background-position-y: -95%;
  /*  background: url(https://wallpapercave.com/wp/wp3416788.jpg); 
  background-position-y: -22%;
  background-repeat: no-repeat;
  scroll-behavior: smooth;*/
}

.headerDiv {
  position: absolute;
  display: table;
  width: 100%;
  background-color: #d8e1e7;
  height: 25%;
}

.logo {
  float: left;
  margin-top: 25px;
  margin-left: 25px;
}

.wallet {
  border-style: solid;
  border-radius: 15px;
  border-width: thin;
  padding: 10px;
  transition: 1s;
  color: #00478f;
  float: right;
  margin-right: 40px;
  margin-top: 60px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
}

.wallet:hover {
  transition: 0.3s;
  color: orange;
}

.tourMain {
  position: relative;
  margin: 0 auto;
}

.learnMoreP {
  position: absolute;
  margin: 230px auto;
  text-align: center;
  font-size: 20pt;
  display: table;
  width: 70%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  vertical-align: top;
}

.learnMoreDiv {
  margin: 0 auto;
  position: absolute;
  display: block;
  width: fit-content;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
}

.learnMoreBox {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  transition: 0.3s;
  margin-top: 100%;
  text-align: center;
  color: #00478f;
  border-style: solid;
  padding: 45px;
}

.learnMoreBox:hover {
  background-color: #00478f;
  color: #d8e1e7;
  transition: 0.3s;
}

.learnMoreLink {
  text-decoration-line: none;
}

.skipLink {
  margin: 0 auto;
  text-align: center;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  color: #00478f;
  text-decoration: underline;
}

.skipLink:hover {
  transition: 0.3s;
  color: #d8e1e7;
}

@media (max-width: 920px) {
  .learnMoreDiv {
    top: 150px;
  }
}

@media (max-width: 900px) {
  .learnMoreDiv {
    top: 150px;
  }
}

@media (max-width: 880px) {
  .learnMoreDiv {
    top: 180px;
  }
}

@media (max-width: 690px) {
  .learnMoreDiv {
    top: 200px;
  }
}

@media (max-width: 590px) {
  .learnMoreDiv {
    top: 230px;
  }
}

@media (max-width: 585px) {
  .learnMoreDiv {
    top: 260px;
  }
  .learnMoreBox {
    padding: 35px;
  }
  .logo {
    width: 45%;
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .headerDiv {
    height: 22%;
  }

  .logo {
    width: 45%;
    margin-right: 0;
  }

  .wallet {
    margin-top: 55px;
  }

  .learnMoreDiv {
    top: 220px;
  }

  .learnMoreBox {
    margin-top: 270px;
    padding: 30px;
  }
}
